<mat-card class="header">
    <mat-card-title class="header-logo">
        <div class="header-logo">ChupersAvia</div>
    </mat-card-title>
    <mat-card-subtitle class="header-menu">
        <mat-menu  #menu="matMenu">
            <div *ngIf='!user'>
            <button  mat-menu-item (click)="openLoginDialog()" >Log&nbsp;In </button>
            <button  mat-menu-item (click)="openRegistrationDialog()">Sign&nbsp;Up </button>
            </div>
            <div *ngIf ='user'>
                {{user.userName}}
            </div>
        </mat-menu>
        
        <div class="header-menu-item">
            <button mat-fab color="accent" [matMenuTriggerFor]="menu" aria-label="Example icon button with a delete icon">
            <mat-icon>menu</mat-icon>
          </button></div>
    </mat-card-subtitle>
</mat-card>