<mat-card class="header">
    <mat-card-title class="header-logo">
        <div class="header-logo">ChupersAvia</div>
    </mat-card-title>
    <mat-card-subtitle class="header-menu">
        <mat-menu  #menu="matMenu">
            <div *ngIf='!user'>
            <button  mat-menu-item (click)="openLoginDialog()" >Log&nbsp;In </button>
            <button  mat-menu-item (click)="openRegistrationDialog()">Sign&nbsp;Up </button>
            </div>
            <div *ngIf ='user'>
                <mat-list>
                    <mat-list-item>
                        {{user.userName}}
                    </mat-list-item>
                    <mat-list-item>
                        <button mat-flat-button (click)="goAccoutn()">account</button>
                    </mat-list-item>
                    <mat-list-item>
                        <button mat-flat-button (click)="logout()" >log out</button>
                    </mat-list-item>
                </mat-list>
            </div>
        </mat-menu>
        
        <div class="header-menu-item">
            <button mat-fab color="accent" [matMenuTriggerFor]="menu" aria-label="Example icon button with a delete icon">
            <mat-icon>menu</mat-icon>
          </button></div>
    </mat-card-subtitle>
</mat-card>